{{!< layout}}
<header class='aui-page-header'>
  <div class='aui-page-header-inner'>
    <div class='aui-page-header-main intro-header'>
      <button class='aui-button'>Button</button>
      <button class='aui-button aui-button-primary'>Button</button>
      <button class='aui-button' aria-disabled='true' disabled>Button</button>
      <button class='aui-button' aria-pressed='true'>Button</button>
    </div>
  </div>
</header>

<table class="aui aui-table-sortable">
    <thead>
        <tr>
            <th class="aui-table-column-issue-key">Issue key</th>
            <th>Name</th>
            <th>Age</th>
            <th class="aui-table-column-unsortable">Description</th>
        <tr>
    </thead>
    <tbody>
        <tr>
            <td>TEST-12</td>
            <td>Cannot sort tables</td>
            <td>2</td>
            <td>Table sorting should be allowed</td>
        </tr>
        <tr>
            <td>WIN-87</td>
            <td>Issue Page doesn't load in IE</td>
            <td>7</td>
            <td>When loading issue page on IE it doesn't show</td>
        </tr>
        <tr>
            <td>DRINK-7</td>
            <td>Vending Machine is empty</td>
            <td>1</td>
            <td>Blocker</td>
        </tr>
    </tbody>
</table>